{% load static %}

<div class="nk-sidebar nk-sidebar-fixed is-light" data-content="sidebarMenu">
  <div class="nk-sidebar-element nk-sidebar-head">
      <div class="nk-sidebar-brand">
        <a href="#" class="logo-link nk-sidebar-logo">
            <span class="nk-menu-text h4 nk-title">{{ request.user.company }}</span>
            <span class="sub-text">{{ request.user.operation_site }}{{ request.user.managed_site }}</span>
        </a>
      </div>
      <div class="nk-menu-trigger me-n2">
          <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
          <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
      </div>
  </div><!-- .nk-sidebar-element -->
  <div class="nk-sidebar-element">
      <div class="nk-sidebar-content">
          <div class="nk-sidebar-menu" data-simplebar>
              <ul class="nk-menu">
                  <li class="nk-menu-item">
                      <a href="#" class="nk-menu-link">
                          <span class="nk-menu-icon"><em class="icon ni ni-dashboard-fill"></em></span>
                          <span class="nk-menu-text">Dashboard</span>
                      </a>
                  </li><!-- .nk-menu-item -->
                  <li class="nk-menu-item">
                    <a href="{% url 'stock_index' %}" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-truck"></em></span>
                        <span class="nk-menu-text">Stock</span>
                    </a>
                </li>
                <li class="nk-menu-item">
                    <a href="{% url 'request_index' %}" class="nk-menu-link">
                        <span class="nk-menu-icon"><em class="icon ni ni-truck"></em></span>
                        <span class="nk-menu-text">Requests</span>
                    </a>
                </li>
              </ul><!-- .nk-menu -->
          </div><!-- .nk-sidebar-menu -->
      </div><!-- .nk-sidebar-content -->
  </div><!-- .nk-sidebar-element -->
</div>
